h1 {
    color: purple;
}

#bookshelf {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    background-color: forestgreen;
    color: rgb(238, 165, 238);
    border: darkgreen solid;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
}

#book-report-container {
    border: double orange;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
